[submodule "core/orion"]
	path = core/orion
	url = https://github.com/telefonicaid/fiware-orion.git
[submodule "core/cosmos"]
	path = core/cosmos/cosmos-flink
	url = https://github.com/ging/fiware-cosmos-orion-flink-connector.git
[submodule "security/keyrock"]
	path = security/keyrock
	url = https://github.com/ging/fiware-idm.git
[submodule "iot-agents/iotagent-ultralight"]
	path = iot-agents/iotagent-ultralight
	url = https://github.com/telefonicaid/iotagent-ul.git
[submodule "iot-agents/iotagent-lightweightM2M"]
	path = iot-agents/iotagent-lightweightM2M
	url = https://github.com/telefonicaid/lightweightm2m-iotagent
[submodule "iot-agents/iotagent-node-"]
	path = iot-agents/iotagent-node-lib
	url = https://github.com/telefonicaid/iotagent-node-lib.git
[submodule "security/authzforce"]
	path = security/authzforce
	url = https://github.com/authzforce/server
[submodule "iot-agents/iotagent-LoRaWAN"]
	path = iot-agents/iotagent-LoRaWAN
	url = https://github.com/Atos-Research-and-Innovation/IoTagent-LoRaWAN
[submodule "security/wilma"]
	path = security/wilma
	url = https://github.com/ging/fiware-pep-proxy.git
[submodule "data-management/business-api"]
	path = data-publication/business-api/business-api
	url = https://github.com/FIWARE-TMForum/Business-API-Ecosystem
[submodule "iotagents/iotagent-json"]
	path = iot-agents/iotagent-json
	url = https://github.com/telefonicaid/iotagent-json
[submodule "iot-agents/OpenMTC"]
	path = iot-agents/OpenMTC
	url = https://github.com/OpenMTC/OpenMTC
[submodule "robotics/Fast-DDS"]
	path = robotics/Fast-DDS
	url = https://github.com/eProsima/Fast-DDS.git
[submodule "processing/kurento/media-server"]
	path = iot-agents/kurento/media-server
	url = https://github.com/Kurento/kurento-media-server.git
[submodule "processing/kurento/media-server-docker"]
	path = iot-agents/kurento/media-server-docker
	url = https://github.com/Kurento/kurento-docker.git
[submodule "processing/kurento/documentation"]
	path = iot-agents/kurento/documentation
	url = https://github.com/Kurento/doc-fiware-readthedocs.git
[submodule "processing/wirecloud/wirecloud"]
	path = processing/wirecloud/wirecloud
	url = https://github.com/Wirecloud/wirecloud
	branch = develop
[submodule "processing/wirecloud/wirecloud-docker"]
	path = processing/wirecloud/wirecloud-docker
	url = https://github.com/Wirecloud/docker-wirecloud
[submodule "core/perseo/core"]
	path = processing/perseo/back-end
	url = https://github.com/telefonicaid/perseo-core.git
[submodule "core/perseo/front-end"]
	path = processing/perseo/front-end
	url = https://github.com/telefonicaid/perseo-fe.git
[submodule "core/quantum-leap"]
	path = core/quantum-leap
	url = https://github.com/smartsdk/ngsi-timeseries-api.git
[submodule "processing/cosmos/examples"]
	path = core/cosmos/examples-flink
	url = https://github.com/ging/fiware-cosmos-orion-flink-connector-examples.git
[submodule "data-publication/business-api/product-catalog"]
	path = data-publication/business-api/product-catalog
	url = https://github.com/FIWARE-TMForum/DSPRODUCTCATALOG2.git
[submodule "data-publication/business-api/ordering-management"]
	path = data-publication/business-api/ordering-management
	url = https://github.com/FIWARE-TMForum/DSPRODUCTORDERING.git
[submodule "data-publication/business-api/product-inventory"]
	path = data-publication/business-api/product-inventory
	url = https://github.com/FIWARE-TMForum/DSPRODUCTINVENTORY.git
[submodule "data-publication/business-api/party-management"]
	path = data-publication/business-api/party-management
	url = https://github.com/FIWARE-TMForum/DSPARTYMANAGEMENT.git
	branch = develop
[submodule "data-publication/business-api/customer-management"]
	path = data-publication/business-api/customer-management
	url = https://github.com/FIWARE-TMForum/DSCUSTOMER.git
	branch = develop
[submodule "data-publication/business-api/billing-management"]
	path = data-publication/business-api/billing-management
	url = https://github.com/FIWARE-TMForum/DSBILLINGMANAGEMENT.git
[submodule "data-publication/business-api/usage-management"]
	path = data-publication/business-api/usage-management
	url = https://github.com/FIWARE-TMForum/DSUSAGEMANAGEMENT.git
	branch = develop
[submodule "data-publication/business-api/rss"]
	path = data-publication/business-api/rss
	url = https://github.com/FIWARE-TMForum/business-ecosystem-rss.git
[submodule "data-publication/business-api/charging-backend"]
	path = data-publication/business-api/charging-backend
	url = https://github.com/FIWARE-TMForum/business-ecosystem-charging-backend.git
[submodule "data-publication/business-api/logic-proxy"]
	path = data-publication/business-api/logic-proxy
	url = https://github.com/FIWARE-TMForum/business-ecosystem-logic-proxy.git
[submodule "data-publication/ckan-extensions/ckan-extensions"]
	path = data-publication/ckan-extensions/ckan-extensions
	url = https://github.com/conwetlab/FIWARE-CKAN-Extensions.git
[submodule "data-publication/ckan-extensions/oauth2"]
	path = data-publication/ckan-extensions/oauth2
	url = https://github.com/conwetlab/ckanext-oauth2.git
[submodule "data-publication/ckan-extensions/private-datasets"]
	path = data-publication/ckan-extensions/private-datasets
	url = https://github.com/conwetlab/ckanext-privatedatasets.git
[submodule "data-publication/ckan-extensions/right-time-context"]
	path = data-publication/ckan-extensions/right-time-context
	url = https://github.com/conwetlab/ckanext-right_time_context.git
[submodule "data-publication/ckan-extensions/business-api-publisher"]
	path = data-publication/ckan-extensions/business-api-publisher
	url = https://github.com/FIWARE-TMForum/ckanext-baepublisher.git
[submodule "data-publication/ckan-extensions/wirecloud-dashboards"]
	path = data-publication/ckan-extensions/wirecloud-dashboards
	url = https://github.com/conwetlab/ckanext-wirecloud_view.git
[submodule "data-publication/ckan-extensions/data-requests"]
	path = data-publication/ckan-extensions/data-requests
	url = https://github.com/conwetlab/ckanext-datarequests.git
[submodule "iot-agents/iotagent-opcua"]
	path = iot-agents/iotagent-opcua
	url = https://github.com/Engineering-Research-and-Development/iotagent-opcua.git
[submodule "data-publication/idra"]
	path = data-publication/idra
	url = https://github.com/OPSILab/Idra.git
[submodule "data-publication/apinf/apinf"]
	path = security/apinf/apinf
	url = https://github.com/apinf/platform
[submodule "data-publication/apinf/api-umbrella"]
	path = security/apinf/api-umbrella
	url = https://github.com/FIWARE/api-umbrella
[submodule "core/cygnus"]
	path = core/cygnus
	url = https://github.com/telefonicaid/fiware-cygnus
[submodule "core/draco"]
	path = core/draco
	url = https://github.com/ging/fiware-draco
[submodule "core/sth-comet"]
	path = core/sth-comet
	url = https://github.com/telefonicaid/fiware-sth-comet.git
[submodule "iot-agents/iotagent-sigfox"]
	path = iot-agents/iotagent-sigfox
	url = https://github.com/telefonicaid/sigfox-iotagent/
[submodule "robotics/Micro-XRCE-DDS"]
	path = robotics/Micro-XRCE-DDS
	url = https://github.com/eProsima/Micro-XRCE-DDS.git
[submodule "robotics/firos"]
	path = robotics/firos
	url = https://github.com/iml130/firos.git
[submodule "processing/cosmos-spark"]
	path = core/cosmos/cosmos-spark
	url = https://github.com/ging/fiware-cosmos-orion-spark-connector
[submodule "processing/cosmos/examples-spark"]
	path = core/cosmos/examples-spark
	url = https://github.com/ging/fiware-cosmos-orion-spark-connector-examples
[submodule "processing/open-vidu"]
	path = iot-agents/open-vidu
	url = https://github.com/OpenVidu/openvidu
[submodule "core/scorpio"]
	path = core/scorpio
	url = https://github.com/ScorpioBroker/ScorpioBroker
[submodule "core/orion-ld"]
	path = core/orion-ld
	url = https://github.com/FIWARE/context.Orion-LD.git
[submodule "core/stellio"]
	path = core/stellio
	url = https://github.com/stellio-hub/stellio-context-broker
[submodule "third-party/oliot"]
	path = third-party/oliot
	url = https://github.com/yalewkidane/FIWARE_EPCIS_Mediation_Gateway.git
[submodule "processing/fogflow"]
	path = processing/fogflow
	url = https://github.com/smartfog/fogflow.git
[submodule "data-publication/coat-rack"]
	path = data-publication/coat-rack
	url = https://github.com/coatrack/coatrack
[submodule "iot-agents/iotagent-isoxml"]
	path = iot-agents/iotagent-isoxml
	url = https://github.com/FIWARE/iotagent-isoxml
[submodule "core/canis-major"]
	path = core/canis-major
	url = https://github.com/FIWARE/CanisMajor.git
[submodule "security/true-connector"]
	path = security/true-connector
	url = https://github.com/Engineering-Research-and-Development/fiware-true-connector
[submodule "data-spaces/fiware-on-k8s"]
	path = data-spaces/fiware-on-k8s
	url = https://github.com/FIWARE/production-on-k8s
[submodule "security/pep-steelskin"]
	path = security/pep-steelskin
	url = https://github.com/telefonicaid/fiware-pep-steelskin
[submodule "security/keypass"]
	path = security/keypass
	url = https://github.com/telefonicaid/fiware-keypass
[submodule "security/keystone-scim"]
	path = security/keystone-scim
	url = https://github.com/telefonicaid/fiware-keystone-scim
[submodule "security/keystone-spassword"]
	path = security/keystone-spassword
	url = https://github.com/telefonicaid/fiware-keystone-spassword
[submodule "processing/ngsijs"]
	path = core/ngsijs
	url = https://github.com/Ficodes/ngsijs.git
[submodule "third-party/domibus"]
	path = third-party/domibus
	url = https://ec.europa.eu/digital-building-blocks/code/scm/edelivery/domibus.git
