/*

body {
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: 500; 
  line-height: 1.42857143 !important; 
  color: #4c4c4c
}

.wy-side-nav-search{
 clear:both !important; 
 padding:40px 10px 16px 10px;
 background-image: url('https://www.fiware.org/wp-content/uploads/2018/04/logo.png') !important;
 background-size: 128px 30px !important;
 background-repeat: no-repeat !important;
 background-position: 15px 8px !important; 
 border-bottom-color : #000000;
 border-bottom-width: 1px;
 border-style: solid;
}

.wy-side-nav-search:before {
  content: "";
  display: none
}
.wy-side-nav-search:after {
  content: "";
  display: none;
}
.wy-nav-side{background-color:transparent !important}
.wy-nav-content {background-color: #fff}

.wy-nav-top { background-color:#767f8e;}
th {background-color:#767f8e;}

h1, h2, h3, h4 {
    font-family: Montserrat,Helvetica,Arial,sans-serif !important;
    color:#000000 !important;     
    font-weight: 800;
    text-transform: uppercase;
}

h1, h2{
    padding-top : 20px;
    padding-bottom : 3px;
    box-shadow: 0px 7px 0px 0px #000000;
}
h3 {
    box-shadow: 0px 4px 0px 0px #000000;
}

.rst-versions .rst-current-version{background-color:#767f8e !important}
.rst-versions {background:#767f8e none !important;}
.wy-menu-vertical a:hover{background-color:#767f8e;}
.wy-menu-vertical .current > a  {background:#767f8e !important;}
.wy-side-nav-search {background: #fff !important; border-right: #efefef solid 1px;}

a.icon-home{
  color:#000 !important;
  white-space : pre-line !important;
  font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif !important; 
  font-size: x-large !important; font-weight: 800 !important; 
  text-transform:uppercase !important; 
  margin:0 0 0 0 !important
}

.wy-side-nav-search {
	background: #fff !important; border-right: #efefef solid 1px;

 clear:both !important; 
 padding:40px 10px 16px 10px;
 background-image: url('https://www.fiware.org/wp-content/uploads/2018/04/logo.png') !important;
 background-size: 128px 30px !important;
 background-repeat: no-repeat !important;
 background-position: 15px 8px !important; 
 border-bottom-color : #000000;
 border-bottom-width: 1px;
 border-style: solid;
}

.wy-side-nav-search a{background-color:transparent !important; }
.wy-body-for-nav{background-image:none !important}
.wy-nav-side{background-color:transparent !important}

*/

